// Chứa các biến css toàn cục
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-size-large: 18px;
$padding-default: 15px;
$border-radius-default: 5px;
$background-color: #f5f5f5;
$text-link-color: #83929e;
$background-color-2: #fff;
$background-color-input: #edf1f1;
$border-color: #e7ecf0;
